@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
    display: none;
}


.loginDiv {
  box-shadow: 15px 15px 20px rgba(0,0,0,0.1),  -15px -15px 20px #fffb;
  transition: all 0.3s ease-in-out;
}
.loginDiv:hover {
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1),  -10px -10px 15px #fffb;
}

.inputDiv {
  box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;

}